

<div class="flex" >
  <mat-card class="item"  *ngFor="let item of program ">
    <div class="title">{{item.name}}</div>
    <div class="about">
      <div>{{item.description}} </div>
    </div>
    <div class="containerbtn" >
      <button mat-raised-button class="green-btn-card" *ngIf="permission" (click)="editSec(item, 'section')">
        Редактировать
      </button>
      <button mat-raised-button class="green-btn-card" (click)="loadCourses(item)">
        Подробнее
      </button>
      <button mat-raised-button style="background:  #f44336; color: white; margin:0 10px" *ngIf="permission" (click)="deleteSec(item)">
        Удалить
      </button>
    </div>
  </mat-card>
</div>
