<form style="text-align: center;" [formGroup]="form">
  <div >
    <div class="container">
      <mat-form-field class="example-full-width">
        <mat-label>Логин</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>

      <button mat-raised-button style="background:  #146525; color: white" class=" mr-2 mt-2" (click)="search()">
        Поиск
      </button>
    </div>

  </div>
<div style="width: 90%; margin: auto; height: 600px; align-items: center">
  <ag-grid-angular
    style="width: 810px; height: 600px; margin-left: auto;
    margin-right: auto;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [pagination]="true"
    [rowClassRules]="rowClassRules">
  </ag-grid-angular>

  <div class="journal-info-container  mb-2">
    <button mat-raised-button color="primary" [disabled]="page <= 1" (click)="previousPage()" > << </button>
    <span class="page-info">Страница {{page}} из {{pageCount}}</span>
    <button mat-raised-button color="primary" [disabled]="page>= pageCount" (click)="nextPage()" > >></button>
  </div>
</div>
</form>
