<div>
  <h4 style="text-align: center;">Войдите в свою учетную запись</h4>
  <div class="animate">
     <div *ngIf="error !== ''" class="alert alert-danger" role="alert">
       {{error}}
     </div>

    <div class="container" (keydown.enter)="onEnterKeyDown($event)">
      <label ><b>Логин</b></label>
      <input [(ngModel)]="username" type="text" placeholder="Введите логин" name="uname" required>

      <label><b>Пароль</b></label>
      <input [(ngModel)]="password" type="password" placeholder="Введите пароль" name="psw" required>

      <button mat-button (click)="login()" >Войти</button>

      <div style="font-size: 13px; text-align: center;">
        Если у Вас нет учетной записи <a href="/request">оставьте заявку</a> на обучение и с Вами свяжуться
      </div>
    </div>
  </div>
</div>
